 
   body {
    background-color: #D7D2CB;
    font-family: 'Manrope', sans-serif;
    color: #151515
   }
html {
    scroll-behavior: smooth;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
img {
    width: 100%;
    height:auto;
    padding: 5px;
    
}
.card {
    position: relative;
    text align
  
}